#right-menu {
  float: right;
}


#pink-link a {
  color: #AD0057 !important;
  text-decoration: none;
}

#pink-link a:hover,
.right-menu li:hover,
a.nav-link:hover {
  opacity: 0.8;
}

body {
  margin: 0;
  font-family: 'Lora','Raleway', sans-serif !important;
}

/* #pushContent{
  
  position: fixed;
  top: 0;
  width: 100%;
} */
@media (max-width: 870px) {
  .mobile-noDisplay {
    display: none;
  }
}

@media (max-width: 767px) {
  #pushContent {
    height: 222.5px;
    width: 100%;
    display: none;
  }

  #pushPortfolio {
    height: 222.5px;
    width: 100%;
    display: none;
  }

  .mobile-noDisplay {
    display: none;
  }
}

@media (max-width: 480px) {
  #pushContent {
    height: 222.5px;
    width: 100%;
    display: none;
  }

  #pushPortfolio {
    height: 222.5px;
    width: 100%;
    display: none;
  }
}

.new {
  padding-top: 30px;
  background-color: black;
}

.dark-pink {
  color: #AD0057 !important;
  font-family: 'Merriweather', 'Nunito', 'Nova Round', 'Baloo', Bookman;
  margin-top: 0px !important;
  /* padding-top: 10px !important;  */
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 40px !important;
}

.light-pink {
  color: #f792c6 !important;
  /* color: #FF5CAD !important; */
  font-family: 'Merriweather', 'Nunito', 'Nova Round', 'Baloo', Bookman;
  margin-top: 0px !important;
  padding-top: 10px !important;
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 40px !important;
}

/* top */

h1.land {
  color: white !important;
  font-family: 'Merriweather Sans', 'Nunito', 'Nova Round', 'Baloo', Bookman;
  font-size: calc(15vmin);
  text-align: center;
  display: block;
  margin: auto;
  text-shadow: -1px -1px 9px #000, 1px -1px 9px #000, -1px 1px 9px #000, 1px 1px 9px #000;
}


h2.land {
  color: white !important;
  font-family: "Trebuchet MS", 'Source Sans Pro' !important;
  text-align: center;
  display: block;
  margin: auto;
  font-size:  calc(8vmin);
  text-shadow: -1px -1px 6px #000, 1px -1px 6px #000, -1px 1px 6px #000, 1px 1px 6px #000;

}

/* nav */


.nav-link {
  
  color: #f792c6 !important;
  /* color: #FF5CAD !important; */
  font-family: 'Merriweather Sans', 'Nunito', 'Nova Round', 'Baloo', Bookman;
  font-size: 24px;
  padding: 7px;

}

.name {
  color: white !important;
  font-family: 'Nunito', 'Nova Round', 'Baloo', Bookman;
  font-size: 36px;
  padding-right: 10px;
}

a{
  color:#f792c6 !important;
}

/* portfolio */

#portfolio {
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 0;
  /* padding-bottom: 40px; */
}

/* resume */
.resume {
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

h1.resume  {
font-family: 'Merriweather', 'Nunito', 'Nova Round', 'Baloo', Bookman;
  font-size:4rem;

}

h2.resume{
  color: #30723f !important;
  font-family: 'Josefin Sans', sans-serif !important;
  font-size: 2rem;
  padding: 12px 0 10px 0;
}

/* 
h2{
  color: #30723f !important;
  font-family: 'Josefin Sans', sans-serif !important;
  }  */


.resumeTxt{
  font-size: 14px;
}


/* about */

#about-txt {
  font-family: 'Trebuchet MS', 'Source Sans Pro' !important;
  font-size: 18px;
  float: left;
  padding: 10px 0;
  color: white;
}

#about-img {

  width: 50%;
  padding: 20px, 10px, 10px, 0;
  border-radius: 10%;


}

#about {
  padding-bottom: 40px;
  margin-top: 40px;

}



/* ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  position: fixed;
}


ul.topnav li {float: right;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  float: right;
 
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #4CAF50;}
#right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
} */


/* do i need? */

/* google fonts

font-family: 'Audiowide', cursive;
font-family: 'Baloo', cursive;
font-family: 'Oregano', cursive;
font-family: 'Nova Round', cursive;
font-family: 'Nunito', sans-serif; */


/*  */

/* #over.h3 {
     font-family: 'Nunito','Nova Round', 'Baloo', Bookman !important; 
    font-size: 30px !important;
} */