/* google fonts

font-family: 'Audiowide', cursive;
font-family: 'Baloo', cursive;
font-family: 'Oregano', cursive;
font-family: 'Nova Round', cursive;
font-family: 'Nunito', sans-serif; */



#over.h3 {

    font-family: 'Nunito','Nova Round', 'Baloo', Bookman; 
    font-size: 30px;

}

body {margin: 0;
  
}

#about-txt{
  font-family: "Trebuchet MS", 'Source Sans Pro' !important;
  font-size: 18px;
  float: left;
  padding-bottom:10px; 
}

#about-img{
  float: left;
  width: 25%;
  padding: 10px, 10px, 10px, 0;
}

#about{
  margin-top:0; 
  padding-top: 0;
}
#resume{
  margin-top:0; 
  padding-top: 0;
  margin-bottom: 0;
    padding-bottom: 0;
}

#portfolio{
  margin-top:0; 
  padding-top: 0;
  margin-bottom: 0;
    padding-bottom: 0;
}

.name{
    color:hotpink !important;
    font-family: 'Merriweather Sans','Nunito','Nova Round', 'Baloo', Bookman;  
    font-size: 24px;   
    text-align: center;
    display: block;
    margin: auto;
}
h1.land{
  color:white !important;
  font-family: 'Merriweather Sans','Nunito','Nova Round', 'Baloo', Bookman;  
  
  text-align: center;
  display: block;
  margin: auto;
}
h2.land{
  color:white !important;
  font-family: "Trebuchet MS", 'Source Sans Pro' !important;
  text-align: center;
  display: block;
  margin: auto;
  font-size: 24px;
}

#pink{
  color:hotpink !important;
  font-family: 'Merriweather','Nunito','Nova Round', 'Baloo', Bookman;  
  
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  position: fixed;
}


ul.topnav li {float: right;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  float: right;
 
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #4CAF50;}
#right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}



/* resume from google */


@import url('https://themes.googleusercontent.com/fonts/css?kit=fvyYZ8D_r6q1snYdb-tnFx6Qq1DeeDjCeOKL9BVhEOxB3spTXG2yLthAopQpl_OeptADvXRbGhDNxFKK4x_1-Wf5UsutY9qjn3wDdRcnjEYlLT34rKZNjX_x5wwcqB1FJcp4QFgPPqKvq4Bp_6u4rQ');

     


.lst-kix_d52h1clnbs3c-6>li:before {
    content: "\0025cf  "
}

.lst-kix_d52h1clnbs3c-1>li:before {
    content: "\0025cb  "
}

.lst-kix_d52h1clnbs3c-7>li:before {
    content: "\0025cb  "
}

.lst-kix_d52h1clnbs3c-0>li:before {
    content: "\00200b  "
}

.lst-kix_d52h1clnbs3c-8>li:before {
    content: "\0025a0  "
}

.lst-kix_3expns8knkd9-0>li:before {
    content: "\00200b  "
}

.lst-kix_3expns8knkd9-1>li:before {
    content: "\0025cb  "
}



ul.lst-kix_d52h1clnbs3c-6 {
    list-style-type: none
}

.lst-kix_3expns8knkd9-3>li:before {
    content: "\0025cf  "
}

ul.lst-kix_d52h1clnbs3c-7 {
    list-style-type: none
}

ul.lst-kix_d52h1clnbs3c-8 {
    list-style-type: none
}

.lst-kix_3expns8knkd9-2>li:before {
    content: "\0025a0  "
}

.lst-kix_d52h1clnbs3c-4>li:before {
    content: "\0025cb  "
}

.lst-kix_3expns8knkd9-8>li:before {
    content: "\0025a0  "
}

.lst-kix_3expns8knkd9-7>li:before {
    content: "\0025cb  "
}

ul.lst-kix_d52h1clnbs3c-0 {
    list-style-type: none
}

ul.lst-kix_d52h1clnbs3c-1 {
    list-style-type: none
}



ul.lst-kix_d52h1clnbs3c-4 {
    list-style-type: none
}

.lst-kix_3expns8knkd9-4>li:before {
    content: "\0025cb  "
}

.lst-kix_3expns8knkd9-5>li:before {
    content: "\0025a0  "
}

.lst-kix_3expns8knkd9-6>li:before {
    content: "\0025cf  "
}

ul.lst-kix_3expns8knkd9-2 {
    list-style-type: none
}

ul.lst-kix_3expns8knkd9-1 {
    list-style-type: none
}

ul.lst-kix_3expns8knkd9-4 {
    list-style-type: none
}

ul.lst-kix_3expns8knkd9-3 {
    list-style-type: none
}

ul.lst-kix_3expns8knkd9-0 {
    list-style-type: none
}

ul.lst-kix_3expns8knkd9-6 {
    list-style-type: none
}

ul.lst-kix_3expns8knkd9-5 {
    list-style-type: none
}

ul.lst-kix_3expns8knkd9-8 {
    list-style-type: none
}

ul.lst-kix_3expns8knkd9-7 {
    list-style-type: none
}

ol {
    margin: 0;
    padding: 0
}

table td,
table th {
    padding: 0
}

.c29 {
    border-right-style: solid;
    padding: 7.2pt 7.2pt 7.2pt 7.2pt;
    border-bottom-color: #ffffff;
    border-top-width: 0pt;
    border-right-width: 0pt;
    border-left-color: #ffffff;
    vertical-align: top;
    border-right-color: #ffffff;
    border-left-width: 0pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 0pt;
    width: 358.5pt;
    border-top-color: #ffffff;
    border-bottom-style: solid
}

.c21 {
    border-right-style: solid;
    padding: 7.2pt 7.2pt 7.2pt 7.2pt;
    border-bottom-color: #ffffff;
    border-top-width: 0pt;
    border-right-width: 0pt;
    border-left-color: #ffffff;
    vertical-align: top;
    border-right-color: #ffffff;
    border-left-width: 0pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 0pt;
    width: 165pt;
    border-top-color: #ffffff;
    border-bottom-style: solid
}

.c5 {
    color: #38761d;
    font-weight: 700;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 9pt;
    font-family: "Lora";
    font-style: normal
}

.c26 {
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 36pt;
    font-family: "Nunito";
    font-style: normal
}

.c18 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 9pt;
    font-family: "Nunito";
    font-style: normal
}

.c0 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "Lora";
    font-style: italic
}

.c31 {
    padding-top: 6pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    text-align: left;
    margin-right: 15pt;
    height: 9pt
}

.c12 {
    padding-top: 16pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    page-break-after: avoid;
    text-align: left;
    margin-right: 15pt
}

.c19 {
    -webkit-text-decoration-skip: none;
    color: #1155cc;
    font-weight: 400;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    font-family: "Nunito"
}

.c16 {
    background-color: #ffffff;
    color: #222222;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 12pt;
    font-style: normal
}

.c6 {
    padding-top: 5pt;
    padding-bottom: 5pt;
    line-height: 1.0;
    page-break-after: avoid;
    text-align: left;
    margin-right: 15pt
}

.c15 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    text-align: left;
    margin-right: 15pt;
    height: 9pt
}

.c20 {
    padding-top: 16pt;
    padding-bottom: 0pt;
    line-height: 1.3;
    text-align: left;
    margin-right: 15pt;
    height: 9pt
}

.c8 {
    color: #666666;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 8pt;
    font-style: normal
}

.c11 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    text-align: left;
    margin-right: 15pt
}

.c9 {
    padding-top: 30pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    text-align: left;
    margin-right: 15pt
}

.c28 {
    color: #000000;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-style: normal
}

.c37 {
    color: #666666;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 6pt;
    font-style: normal
}

.c30 {
    color: #2079c7;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 10pt;
    font-style: normal
}

.c35 {
    padding-top: 16pt;
    padding-bottom: 0pt;
    line-height: 1.3;
    text-align: left;
    margin-right: 15pt
}

.c3 {
    color: #666666;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 9pt;
    font-style: normal
}

.c2 {
    padding-top: 6pt;
    padding-bottom: 0pt;
    line-height: 1.3;
    text-align: left;
    margin-right: 15pt
}

.c27 {
    padding-top: 0pt;
    padding-bottom: 6pt;
    line-height: 1.0;
    text-align: left;
    margin-right: 15pt
}

.c36 {
    border-spacing: 0;
    border-collapse: collapse;
    margin-right: auto
}

.c14 {
    background-color: #ffffff;
    max-width: 525.6pt;
    padding: 28.8pt 43.2pt 43.2pt 43.2pt
}

.c23 {
    background-color: #ffffff;
    font-size: 12pt;
    color: #222222
}

.c33 {
    text-decoration: none;
    vertical-align: baseline;
    font-size: 12pt
}

.c4 {
    margin-left: 0pt;
    list-style-position: inside;
    text-indent: 45pt
}

.c25 {
    font-weight: 400;
    font-family: "Merriweather"
}

.c22 {
    padding: 0;
    margin: 0
}

.c10 {
    color: inherit;
    text-decoration: inherit
}

.c24 {
    font-weight: 700;
    font-family: "Lora"
}

.c1 {
    font-weight: 400;
    font-family: "Lora"
}

.c17 {
    height: 80pt
}

.c34 {
    height: 9pt
}

.c13 {
    font-style: italic
}

.c32 {
    color: #000000
}

.c7 {
    height: 588pt
}

.title {
    padding-top: 0pt;
    color: #000000;
    font-weight: 700;
    font-size: 36pt;
    padding-bottom: 6pt;
    font-family: "Merriweather";
    line-height: 1.0;
    text-align: left
}

.subtitle {
    padding-top: 0pt;
    color: #000000;
    font-size: 9pt;
    padding-bottom: 0pt;
    font-family: "Open Sans";
    line-height: 1.15;
    text-align: left
}

li {
    color: #666666;
    font-size: 9pt;
    font-family: "Merriweather"
}

p {
    margin: 0;
    color: #666666;
    font-size: 9pt;
    font-family: "Merriweather"
}

h1 {
    padding-top: 30pt;
    color: #2079c7;
    font-weight: 700;
    font-size: 9pt;
    padding-bottom: 0pt;
    font-family: "Open Sans";
    line-height: 1.0;
    text-align: left
}

h2 {
    padding-top: 16pt;
    color: #000000;
    font-weight: 700;
    font-size: 11pt;
    padding-bottom: 0pt;
    font-family: "Merriweather";
    line-height: 1.0;
    page-break-after: avoid;
    text-align: left
}

h3 {
    padding-top: 5pt;
    color: #666666;
    font-size: 8pt;
    padding-bottom: 5pt;
    font-family: "Open Sans";
    line-height: 1.0;
    page-break-after: avoid;
    text-align: left
}

h4 {
    padding-top: 8pt;
    -webkit-text-decoration-skip: none;
    color: #666666;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    font-size: 11pt;
    padding-bottom: 0pt;
    font-family: "Trebuchet MS";
    line-height: 1.3;
    page-break-after: avoid;
    text-align: left
}

h5 {
    padding-top: 8pt;
    color: #666666;
    font-size: 11pt;
    padding-bottom: 0pt;
    font-family: "Trebuchet MS";
    line-height: 1.3;
    page-break-after: avoid;
    text-align: left
}

h6 {
    padding-top: 8pt;
    color: #666666;
    font-size: 11pt;
    padding-bottom: 0pt;
    font-family: "Trebuchet MS";
    line-height: 1.3;
    page-break-after: avoid;
    font-style: italic;
    text-align: left
}
 